<!DOCTYPE html>
<html lang="en">
	<head>
		
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<script src="http://code.jquery.com/jquery-latest.js"></script>
    	<script src="/static/js/bootstrap.min.js"></script>
		<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=sql&skin=default"></script>

		<title>{{title}}</title>
		
	</head>


<div class="hero-unit">
  <h1>@videostore <small> { csi2132 project : rana, mark and adnan }</small></h1>
  <br>
  <p><a class="btn btn-primary btn-large", href="/">home</a></p>
</div>
	<body>
	  <div class="container">
		{% block content %}{% endblock %}
	  </div>

	  <br><br><br>
	  
	</body>

</html>
